<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ios.calendar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0FF7A4FA1D1A7CB500B846E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FF7A5131D1A7CB600B846E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FF7A51E1D1A7CB600B846E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
